<div class="c-footer__wrapper">
  <div class="c-footer__separator">
    <span class="c-footer__separator-line"></span>
    <span class="c-footer__separator-line"></span>
    <span class="c-footer__separator-line"></span>
  </div>
  <div class="b-container">
    <div class="c-footer">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-6 text-left">
          <!-- SHOW IN DEKSTOP -->
          <a class="navbar-brand hidden-sm hidden-xs"
             style="padding: 15px 10px;" href="/">
            <div class="logo logo-normal"></div>
          </a>

          <!-- SHOW IN SMALL SCREEN -->
          <a class="navbar-brand hidden-md hidden-lg"
             style="padding: 20px 10px;" href="/">
            <div class="logo logo-normal"></div>
          </a>
        </div>
        <div class="col-md-6 text-right">
          <ul class="c-footer__socials center" style="padding: 15px 10px;">
            <li>
              <a href="https://instagram.com/IndonesiaX_News" class="instagram"
                 target="_blank">
                <i class="fa fa-instagram fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="https://facebook.com/IndonesiaXNews" class="facebook"
                 target="_blank">
                <i class="fa fa-facebook fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/IndonesiaX_News" class="twitter"
                 target="_blank">
                <i class="fa fa-twitter fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/indonesiax" class="linkedin"
                 target="_blank">
                <i class="fa fa-linkedin fa-lg"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCP8HRDGVnb4JsVwmpqI2R5A"
                 class="youtube" target="_blank">
                <i class="fa fa-youtube-play fa-lg"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>