 <header id="global-navigation" class="ix global ">
     <nav class="nav-wrapper" aria-label="Global">
         <h1 class="logo">
             <a href="{{ site.main_site }}">
             <img class="img-logo" src="/assets/img/logo.png" height="50" alt="Home Page">
             </a>
         </h1>
         <div id="menuTop" class="menu-wrap">
             <ol class="left nav-global">
                 <li class="nav-global-04">
                     <a href="{{ site.main_site }}/mulai-belajar">Mulai Belajar <i class="ion-arrow-down-b"></i></a>
                     <div class="megacontent">
                         <h3 class="megacontent-title">Langkah Mudah Belajar di IndonesiaX</h3>
                         <div class="menu-steps-belajar">
                             <ol class="steps">
                                 <li class="steps-item">
                                     <img src="/assets/img/ico-daftar.png" alt="icon-steps">
                                     <h4>Daftarkan diri Anda</h4>
                                     <p>Proses pendaftaran mudah bagi siapa saja di mana saja. Daftar dan buat akun pribadi Anda dengan melengkapi informasi data diri. Bahkan ada pilihan satu klik menggunakan akun Facebook atau Google Anda.</p>
                                 </li>
                                 <li class="steps-item">
                                     <img src="/assets/img/ico-pilih.png" alt="icon-steps">
                                     <h4>Pilih kursus yang Anda minati</h4>
                                     <p>Kursus IndonesiaX disampaikan oleh berbagai Universitas dan Institusi terbaik. Anda dapat memilih kursus sesuai dengan bidang, ketertarikan atau tujuan Anda.</p>
                                 </li>
                                 <li class="steps-item">
                                     <img src="/assets/img/ico-test.png" alt="icon-steps">
                                     <h4>Ikuti tes mingguan dan ujian akhir</h4>
                                     <p>Setelah Anda mengikuti kursus melalui video atau transkrip setiap minggunya, Anda berkesempatan mengikuti tes mingguan dan ujian akhir untuk memperkuat wawasan Anda. Jangan lupa bahkan ada opsional sertifikat terverifikasi untuk meningkatkan CV Anda.
                                     </p>
                                 </li>
                             </ol>
                             <a class="btn btn-brand btn-small" href="{{ site.main_site }}/mulai-belajar">Pelajari lebih lanjut</a>
                         </div>
                     </div>
                 </li>
                 <li class="nav-global-04">
                     <a href="{{ site.main_site }}/courses">Kursus dan Mitra <i class="ion-arrow-down-b"></i></a>
                     <div class="megacontent">
                         <h3 class="megacontent-title">Kategori Kursus dan Mitra Kami</h3>
                         <div class="menu-kursus-mitra">
                             <div class="kursus-wrap">
                                 <h4>Kategori Kursus</h4>
                                 <h5><a href="{{ site.main_site }}/courses">Akademis</a></h5>
                                 <p>Seluruh kursus IndonesiaX dikembangkan dan diadaptasi menggunakan materi belajar yang juga diterapkan dalam program-program bergelar di universitas, serta dari program training perusahaan. Anda memiliki akses untuk belajar dari para profesor universitas ternama dan pakar perusahaan!</p>
                                 <h5><a href="{{ site.main_site }}/courses">Kemampuan Terapan</a></h5>
                                 <p>Selain menyajikan kursus dengan konten akademis yang kental, IndonesiaX juga menawarkan kursus-kursus kemampuan terapan yang dapat memperkaya hidup Anda melalui pengalaman belajar yang unik. Andalah yang menentukan topik belajar yang Anda inginkan!</p>
                                 <a href="{{ site.main_site }}/courses" class="see-more btn btn-brand btn-small">Semua kursus</a>
                             </div>
                             <div class="mitra-wrap">
                                 <h4>Mitra Kami</h4>
                                 <p>IndonesiaX menawarkan beragam kursus dari universitas-universitas terbaik dan perusahaan-perusahaan ternama di Indonesia. Mereka merupakan institusi-institusi dengan reputasi unggul serta memiliki komitmen untuk menyebarluaskan ilmu pengetahuan bagi seluruh masyarakat Indonesia.</p>
                                 <a href="{{ site.main_site }}/partners" class="see-more btn btn-brand btn-small">Semua mitra</a>
                             </div>
                         </div>
                     </div>
                 </li>
                 <li class="nav-global-04">
                     <a href="{{ site.main_site }}/about">Tentang IndonesiaX <i class="ion-arrow-down-b"></i></a>
                     <div class="megacontent">
                         <h3 class="megacontent-title">Menawarkan Kursus Terbaik untuk Indonesia</h3>
                         <div class="menu-about">
                             <div class="about-text">
                                 <p>
                                     IndonesiaX merupakan organisasi non-profit yang menawarkan platform Massive Open Online Course (MOOC). IndonesiaX menawarkan berbagai topik program studi online menarik dari dosen perguruan tinggi terbaik serta manajemen eksekutif perusahaan ternama baik di dalam maupun luar negeri.
                                 </p>
                                 <a class="see-more btn btn-brand btn-small" href="{{ site.main_site }}/about">Pelajari lebih lanjut</a>
                             </div>
                             <div class="about-video" id="about_video">
                                <a href="https://www.youtube.com/watch?v=U0ZCuzLYgV4" target="_blank">
                                   <img src="/assets/img/thumbs-video-profile.jpg" alt="video-profile">
                                </a>
                             </div>
                         </div>
                     </div>
                 </li>
             </ol>
             <ol class="right nav-courseware">
                 <li class="nav-courseware-01">
                     <a class="btn" href="{{ site.main_site }}/login">Sign in</a>
                 </li>
                 <li class="nav-global-04">
                     <a class="btn-brand" href="{{ site.main_site }}/register">Register</a>
                 </li>
             </ol>
         </div>
         <div id="toggleMenu" class="menu-mobile">
             <i class="ion-navicon"></i>
         </div>
     </nav>
 </header>
