<header id="global-navigation" class="window-wrap">
  <a class="nav-skip" href="#main">Skip to main content</a>
  <nav id="navbar" class="navbar navbar-default navbar-static-top navbar-fixed-top " aria-label="Global">
    <div class="b-container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#nav-collapse"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <div id="navbar-logo" class="logo logo-normal"></div>
        </a>

      </div>

      <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="item nav-courseware-01">
            <a class="c-btn c-btn-sm c-btn-link login" href="/login">
              <i class="icon fa fa-sign-in"></i> Masuk</a>
          </li>
          <li>
            <a class="c-btn c-btn-primary c-btn-sm hidden-xs" href="/register">Daftar</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
